<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generak knowledge quiz</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container center">
        <h1>Welcome to General Knowledge Quiz</h1>
        <p>Challenge yourself with a variety of interesting and well-known trivia questions.</p>
        <form action="/quiz" method="post">
            <button type="submit">Start Quiz</button>
        </form>
    </div>
</body>
</html>